<div class="countdown box">
  <div class="box-inner">
    <div class="container text-center" style="margin-top: 3.2rem">
      <!-- <img src="assets/img/fiestacerca_logo_blanco.png" alt="fiestacerca" class="image_center"> -->
      <!-- <h1 style="font-size: 2.5rem; margin-bottom: 15px" class="text-white text-2xl uppercase tracking-widest">
                    ¡Juega a la Ruleta Tada y gana premios mágicos!
                </h1> -->
      <img class="image_center" src="/assets/img/titulo_ruleta.png" />

      <div
        class="mt-10 flex justify-center gap-3 md:gap-8"
        style="margin-top: 3rem"
      >
        <div id="app">
          <div class="doors">
            <div class="door">
              <div class="boxes">
                <!-- <div class="item_box">?</div> -->
              </div>
            </div>

            <div class="door">
              <div class="boxes">
                <!-- <div class="item_box">?</div> -->
              </div>
            </div>

            <div class="door">
              <div class="boxes">
                <!-- <div class="item_box">?</div> -->
              </div>
            </div>
          </div>

          <div>
            <button
              style="font-size: 1rem; margin-top: 1.5rem"
              class="button-85"
              id="spinner"
              (click)="spin()"
            >
              Gira la Ruleta
            </button>
          </div>

          <!-- <p class="info"></p> -->
        </div>
      </div>
    </div>
  </div>
</div>
