<div class="countdown box">
  <div class="box-inner">
    <div class="container text-center" style="margin-top: 1rem">
      <div class="start">
        <div class="titulos" align="center">
          <img class="mt-4" src="/assets/img/prueba_y_gana.png" alt="logo" />
          <div>
            <img
              class="instructions_bottom"
              style="width: 130%"
              src="/assets/img/instrucciones_777.png"
              alt="sombrero"
            />
            <button
              class="imgButton animate-bounce"
              (click)="setStart()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
