<div class="countdown2 box">
  <div class="box-inner">
    <div class="container text-center" style="margin-top: 1rem">
      <div class="start">
        <div class="titulos" align="center">
          <div class="flex justify-center items-center h-screen">
            <video autoplay loop muted>
              <source
                class="rounded-md"
                src="/assets/video/video_1.mp4"
                type="video/mp4"
              />
              Tu navegador no soporta la etiqueta de video HTML5.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
