<div class="countdown box overflow-y-hidden h-screen">
  <div class="box-inner">
    <div class="container text-center" style="margin-top: 1rem">
      <div class="start">
        <div class="titulos" align="center">
          <img
            class="mt-[10vh]"
            src="/assets/img/platano_titulo.png"
            alt="logo"
          />
          <div>
            <button
              class="imgButton mt-[12vh] w-[60%]"
              (click)="setStart()"
            ></button>
            <img
              class="mt-[23vh]"
              style="width: 130%"
              src="/assets/img/sombrero_cartas.png"
              alt="sombrero"
            />
          </div>
          <!-- <div *ngIf="!showInstructions">
            <img
              class="mt-[5vh]"
              src="/assets/img/instrucciones.png"
              alt="logo"
            />
            <button
              class="imgButton mt-[12vh] w-[60%]"
              (click)="setStart()"
            ></button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div style="visibility: hidden">
    <img src="/assets/img/instrucciones.png" alt="" />
  </div>
</div>
