<div class="countdown box">
  <div class="box-inner">
    <div class="container text-center" style="margin-top: 1rem">
      <div class="start">
        <div class="titulos" align="center">
          <img class="rounded-lg mt-3" src="/assets/img/score.jpg" alt="logo" />
          <img
            class="mt-[1vh]"
            src="/assets/img/platano_titulo.png"
            alt="logo"
          />
          <div>
            <button
              class="imgButton animate-bounce w-[60%]"
              (click)="setStart()"
            ></button>
            <img
              class="mt-[6vh]"
              style="width: 130%"
              src="/assets/img/sombrero_cervezas.png"
              alt="sombrero"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
